.container {
  display: grid;
  grid-template-columns: auto 5px 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  grid-template-areas: 
    "toolbar toolbar toolbar"
    "sidebar resizer editor";
  margin: 0;
  padding: 0;
}
.toolbar {
 grid-area: toolbar;
 color: var(--color-toolbar);
 border-bottom: 1px solid var(--color-border);
}
/* sidebar/explorer area */
.sidebar {
  grid-area: sidebar;
  background-color: var(--color-surface);
  border-right: 1px solid var(--color-border);
  color: var(--color-text-muted);
  overflow-y: auto;
  font-family: monospace;
}

/* Editor area */
.editor-area {
  grid-area: editor;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.resizer {
  grid-area: resizer;
  background-color: #333;
  cursor: col-resize;
  width: 5px;
  user-select: none;
}
.resizer:hover {
  background-color: #555;
}