.toolbar {
  display: flex;
  background-color: #2d2d2d;
  color: white;
  padding: 0.25rem 0.5rem;
  align-items: center;
  border-bottom: 1px solid #333;
}

.menu {
  position: relative;
}

button {
  background: transparent;
  color: white;
  border: none;
  font-family: monospace;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #252526;
  border: 1px solid #333;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #444;
}
